@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Rancho&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40%;
} */
.form{
    /* margin-top: 30px; */
    padding-top: 90px;
}
img{
    position: absolute;
    margin: 0;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
    width: 100%h;
    margin-left:17.3%;
    
}
.contact{
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: #003329;
    /* margin-top: 20px; */
    padding-top: 40px;
}
.icon-footer{
    margin-top: 40px;
    padding: 82px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    justify-content: space-between;
    display: flex;
    align-items: center;
   font-size: 2em;
    background-color: #003329;
    font-family: 'Poppins', sans-serif;
}
.fa{
    color: #f8f8f8;
    padding: 10px;
    font-size: 2em;
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: center;
    width: 100%;
    position: relative;
    top: 0;
    transition: top ease 0.5s;

}
.icon-footer  :hover i{
    top: -10px;
    color: #62c1ae;
   
}

.icon-footer a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #f8f8f8;
    font-size: 0.7em;
    position: relative;
}
.icon-footer a ::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:#62c1ae;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.icon-footer a :hover ::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
