@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&family=Rancho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*{
    padding: 0;
    /* width: 100%; */
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

body{
    /* background-image: linear-gradient(to right, rgb(211, 140, 140), rgb(80, 56, 147)); */
    background-image: linear-gradient(to left, rgb(233, 70, 89), rgb(208, 124, 40), rgb(214, 165, 17));
    min-height: 100vh;
    width: auto;
    transition: background-color 1s;
    /* overflow-x: hidden; */
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow: hidden;

}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




  .dark-mode{
    /* background-image: linear-gradient(right to left,  rgb(18,24,59) ,rgb(28,34,189) ); */
    background-image: linear-gradient(to top right, rgb(28,34,189), rgb(200, 35, 128)  );
    /* color: #f9f9f9; */
  }
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}


.logo{
    font-size: 2em;
    color:antiquewhite ;
    pointer-events: none;
    margin-right: 270px;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
  mask-image: none;
  mask-size: auto;
}
@-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }
.navigation a {
    padding: 300px;
    text-decoration: none;
    color: #f8f6f6; 
    font-weight: 400px;
    font-family: Arial, Helvetica, sans-serif;
    /* padding : 6px 15px;
    border-radius: 20px;
    margin: */

}
button{
    color: #000;
    background-color: #000;
    width: 60px;
    height: 30px;
    border-radius: 18px;
    padding-right: 10px;}



.navigation a{
    padding: 6px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 200;
    font-size: 1.5em;
}

.navigation a:hover,
.navigation a.active {
    background: #f8f6f6;
        color: rgb(214, 165, 17);
    cursor: pointer;
}
.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* overflow: hidden; */
}
#text{
    position:absolute ;
    font-size: 6em;
    font-family: 'Kaushan Script', cursive;
    /* background-image:linear-gradient(to right, #10594a,#f8f8f8, #37bda3); */
    color: #003329;
    /* text-shadow: 2px 2px 4px rgba(0,0,0 .2);
    background-clip: text;
   -webkit-background-clip: text;
   color: transparent;
   background-size: 100%;

   background-position: 100% 0; */

}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec{
    position: relative;
    background: #003329;
    padding: 100px;
}

.sec h2{
    display: flex;
    justify-content: center;
    font-size: 3em;
    color: #f8f6f6;
    margin-bottom: 20px; 

}

.sec p{
    font-size: larger;
    color: #f8f6f6;
    font-weight: 300;

}